<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.msitese.dndiandroid">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".demoapp.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.cmu.msitese.dndiandroid.demoapp.NotificationActivity"
            android:screenOrientation="portrait"/>

        <service android:name="edu.cmu.msitese.dndiandroid.frameworkinterface.ZirkManagerService" android:stopWithTask="true"/>
        <service android:name="edu.cmu.msitese.dndiandroid.datagathering.twitter.TwitterService" android:stopWithTask="true"/>
        <service android:name="edu.cmu.msitese.dndiandroid.datainference.keyword.KeywordMatchService" android:stopWithTask="true"/>

        <activity
            android:name=".datagathering.gps.LocationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_SERVICE"
                android:value="edu.cmu.msitese.dndiandroid.datagathering.gps.LocationDataService" />
        </activity>

        <service
            android:name=".datagathering.gps.LocationDataService"
            android:stopWithTask="true" />
        <receiver android:name="com.bezirk.middleware.android.ZirkMessageReceiver">
            <intent-filter>
                <action android:name="com.bezirk.middleware.broadcast" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".datanormalization.location.GeocodingService"
            android:stopWithTask="true" />

    </application>

</manifest>
